html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

/* =========================
        Nav  style 
   =========================*/
.navbar-title {
    font-size: 20px;
    color: black;
    margin-top: 2px;
    margin-bottom: 2px;
    text-decoration: none;
    font-weight: bold;
}

.nav-link {
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: blue;
}
/* =========================
   Footer style  area
   =========================*/

.top-footer {
    background-color: #172554;
    border-top: 1px solid #404040;
    padding: 100px 0 80px;
}

    .top-footer h5 {
        font-size: 20px;
        line-height: 3;
        color: white;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 7px;
        margin-bottom: 3px;
        font-weight: bold;
    }

    .top-footer a {
        font-size: 20px;
        line-height: 2;
        text-decoration: none;
    }

.footer-bottom {
    text-align: center;
    background-color: #172554;
    border-top: 1px solid white;
    padding: 30px 0;
}

    .footer-bottom h5 {
        font-size: 15px;
        line-height: 1;
        color: white;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 7px;
        margin-bottom: 3px;
    }

    .footer-bottom h6 {
        font-size: 12px;
        line-height: 15px;
        color: white;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 2px;
        margin-bottom: 0;
    }

.f-icons {
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
}


/* =========================
               INDEX
   =========================*/



/* =========================
   Home page style Hero area
   =========================*/


#hero-area {
    background: url('../media/indexbanner.jpg');
    background-size: cover;
    padding: 150px 0;
    position: relative;
}

@media (max-width: 480px) {
    .hero-area {
        padding: 80px 0;
    }
}

@media (max-width: 480px) {
    .hero-area .block {
        padding: 0;
    }
}

#hero-area .block h {
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#hero-area .block p {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

/* =========================
   Home page style Services area
   =========================*/

#services {
    padding: 70px 0 10px;
}

.title {
    text-align: center;
    padding-bottom: 60px;
}

    .title h {
        color: #333;
        font-size: 20px;
        padding-bottom: 25px;
        display: inline-block;
        position: relative;
    }

    .title h1 {
        font-size: 30px;
        line-height: 24px;
        color: black;
    }

.card-img {
    width: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}



#services-content {
    background-color: #f3f4f6;
    padding: 50px 0 10px;
}



/* ==============================
   Home page style e-Medical area
   =============================*/
#medical {
    padding: 80px 0 150px;
}

.medical-img {
    width: 550px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}

/* =========================
   Home page style About area
   =========================*/
.about-us {
    background-color: #f3f4f6;
}

#about {
    padding: 80px 0 80px;
    margin-bottom: 100px;
}



/* =========================
             ABOUT
   =========================*/


/* =========================
         Hero area
   =========================*/


#banner {
    background: url(../media/aboutbanner.jpg);
    background-size: cover;
    padding: 200px 0;
    position: relative;
}

    #banner .block h {
        font-size: 60px;
        color: black;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #banner .block p {
        color: black;
        font-size: 27px;
        margin-left: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 600;
    }


/* =========================
         CONTENT area
   =========================*/

#about-1 {
    padding: 60px 0 80px;
    margin-left: 300px;
    margin-bottom: 100px;
    margin-top:100px;
}

.about-1 {
    background-color: #f3f4f6;
}

.about-title {
    font-size: 25px;
    color: darkblue;
    margin-top: 7px;
    margin-bottom: 3px;
    font-weight: bold;
    line-height: 60px;
}

.about-title-2 {
    font-size: 25px;
    color: black;
    margin-top: 7px;
    margin-bottom: 3px;
    font-weight: bold;
    line-height: 80px;
}

.about-p-1 {
    font-size: 20px;
    color: black;
    margin-top: 7px;
    margin-bottom: 3px;
}

#about-2 {
    padding: 70px 0 60px;
    margin-right: 300px;
    margin-bottom: 100px;
    margin-top:20px;
}

.about-2 {
    background-color: #f3f4f6;
}





/* =========================
         PHARMACY
   =========================*/


/* =========================
         Hero area
   =========================*/
#p-banner {
    background: url(../media/pharmacybanner.jpg);
    background-size: cover;
    padding: 150px 0;
    position: relative;
}

#p-banner .block h {
        font-size: 60px;
        color: black;
        margin-top: 20px;
        margin-bottom: 20px;
    }

#p-banner .block p {
        color: black;
        font-size: 27px;
        margin-left: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 600;
    }


/* =========================
         CONTENT area
   =========================*/
#p-services {
    padding: 60px;
    background-color: #f3f5f7;
    margin-bottom:90px; 
}

.pharmacy-img {
    width: 636px;
}

.p-title {
    font-size: 20px;
    color: #dc2626;
    margin-top: 50px;
    margin-bottom: 3px;
    font-weight: bold;
    line-height: 20px;
    background-color: #fca5a5;
}

.p-title-2 {
    font-size: 20px;
    color: black;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.p-pargh {
    font-size: 20px;
    color: black;
}


.drug-title {
    font-size: 20px;
    color: #166534;
    margin-top: 50px;
    margin-bottom: 3px;
    font-weight: bold;
    line-height: 20px;
    background-color: #d9f99d;
}

.drug-title-2 {
    font-size: 20px;
    color: black;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.drug-p-1 {
    font-size: 20px;
    color: black;
}





/* =========================
             LABS
   =========================*/


/* =========================
         Hero area
   =========================*/
#lab-banner {
    background: url(../media/labbanner.jpg);
    background-size: cover;
    padding: 300px 0;
    position: relative;
}

    #lab-banner .block h {
        font-size: 60px;
        color: black;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #lab-banner .block p {
        color: black;
        font-size: 27px;
        margin-left: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 600;
    }


/* =========================
         CONTENT area
   =========================*/

#lab-cards {
    background: #f3f5f7;
}

a,
a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.pageHeaderDate {
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 40px;
}

/* Cards */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 80px;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    &.dark

{
    background-color: #18151f;
}

&.light {
    background-color: #e1e5ea;
}

.t-dark {
    color: #18151f;
}

a {
    color: inherit;
}

.h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.small {
    font-size: 80%;
}

.postcard__title {
    font-size: 1.75rem;
}

.postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.postcard__img_link {
    display: contents;
}

.postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}

.postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
    .tag__item

{
    display: inline-block;
    background: rgba(83, 83, 83, 0.4);
    border-radius: 3px;
    padding: 2.5px 10px;
    margin: 0 5px 5px 0;
    cursor: default;
    user-select: none;
    transition: background-color 0.3s;
    &:hover

{
    background: rgba(83, 83, 83, 0.8);
}

}
}

&:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}

&:hover .postcard__bar {
    width: 100px;
}

}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
        .postcard__title

{
    font-size: 2rem;
}

.postcard__tagbox {
    justify-content: start;
}

.postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
}

.postcard__text {
    padding: 3rem;
    width: 100%;
}

.media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
}

&:hover .postcard__img {
    transform: scale(1.1);
}

&:nth-child(2n + 1) {
    flex-direction: row;
}

&:nth-child(2n + 0) {
    flex-direction: row-reverse;
}

&:nth-child(2n + 1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
}

&:nth-child(2n + 0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
}

}
}

@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

        .postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            top: -20%;
            height: 130%;
            width: 55px;
        }

    .postcard.dark {
        .postcard__text:before

{
    background: #18151f;
}

}

.postcard.light {
    .postcard__text:before

{
    background: #e1e5ea;
}

}
}


/* =========================
         DOCTORS
   =========================*/


/* =========================
         Hero area
   =========================*/
#doc-banner {
    background: url(../media/docbanner.jpg);
    background-size: cover;
    padding: 150px 0;
    position: relative;
}

    #doc-banner .block h {
        font-size: 60px;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #doc-banner .block p {
        color: white;
        font-size: 27px;
        margin-left: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 600;
    }


/* =========================
         CONTENT area
   =========================*/
#doctors-cards {
    background-color: #f3f4f6;
    padding: 50px 0 10px;
    margin-bottom: 100px;
}



/* =========================
           LOG IN
   =========================*/

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}



























