@{
	ViewData["Title"] = "About";
}

<body>

	<!--HERO AREA-->
	<section id="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h1>About us</h1>
						<h2>
							Find Out More About Us and Our Website
						</h2>
					</div>
				</div>
			</div>
		</div>
	</section>

	<br />
	<br />
	<br />
	<br />


	<!--ABOUT THE PROJECT AREA-->
	<section class="about-1" id="about-1">
		<div class="container d-grid gap-3">
			<div class="row  ">
				<div class="col-md-6 ">
					<img class="img-fluid" src="~/media/about.jpg" alt=" " />
				</div>
				<div class="col-md-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center">
					<h class="about-title"> ABOUT THE PROJECT</h>
					<h class="about-title-2">Honours Project Development Idea </h>
					<p class="about-p-1"> This project is a product of a Honours Software Development Degree. The idea of the project is to develop a web based healthcare support application that is uniquely created in Greece, specifically for the area of Kastorias. The aim is to make more practical, user-friendly, accurate, and safer online method compared to the traditional methods.   </p>
				</div>
			</div>
		</div>
	</section>

	<br />
	<br />
	<br />
	<br />

	<!--ABOUT THE FEATURE AREA-->
	<section class="about-2" id="about-2">
		<div class="container ">
			<div class="row ">
				<div class="col-md-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center">
					<h class="about-title"> ABOUT THE FEATURES</h>
					<h class="about-title-2">The Functionality of this web app </h>
					<p class="about-p-1"> The core functionality of this web-based application includes the availability of crucial details like local pharmacies, doctors with their names, contact information, professional specialty and location, a list of emergency contact numbers, as well as guidelines and instructions on fundamental first aid techniques. In addition, the application provides users with the option to register for an account and keep a personal e-medical record, allowing them to input and securely store their personal health information, effectively replacing the traditional health booklet. </p>
				</div>
				<div class="col-md-6 ">
					<img class="img-fluid" src="~/media/about2.jpg" alt=" " />
				</div>
			</div>
		</div>
	</section>

	<br />
	<br />
	<br />
	<br />


</body>