@page
@model EleFiCNetMVC.Views.Home.EmergencyModel
@{
}

<body>
	<!--HERO AREA-->
	<section id="emergency-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h>How can we help you?</h>
						<p>
							Your well-being is our priority.<br/> We genuinely care about you, aiming to simplify and enhance your life
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

    <!--EMERGENCY LINES AREA-->

	<!--FIRST ROW SECTION-->
	<section class="services" id="services">
		<div class="container">
			<div class="title">
				<h class="text-center">Emergency Lines</h>
				<h1 class="text-center">Do you need help?</h1>
			</div>
		</div>
	</section>

	<!--CONTENT SECTION-->
	<section >
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6  mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center position-relative pb-3">
                                <div class="flex-shrink-0">
                                    <img class="img-md rounded-circle" src="~/media/eca.jpg" alt="ECA Picture" >
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h class="card-title"> <strong>ECA- Hellenic Red Cross of Kastoria</strong></h>
                                    <br />
                                    <br />
                                    <p class="text m-0"> <strong>Address:</strong> Grammou 32, Kastoria 521 00, Greece </p>
                                    <p class="text m-0"> <strong>Phone:</strong> +30 2467 083410 </p>
                                    <p class="text m-0"> <strong>Email:</strong> samarites.kastoria@redcross.gr </p>
                                    <p class="text m-0"> <strong>Website:</strong> samarites.gr </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- End -->
                <div class="col-sm-6 col-md-6  mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center position-relative pb-3">
                                <div class="flex-shrink-0">
                                    <img class="img-md rounded-circle" src="~/media/fireservice.jpg" alt="Fire Service Picture" loading="lazy">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h class="card-title"> <strong>Fire Service of Kastoria</strong></h>
                                    <br />
                                    <br />
                                    <p class="text m-0"> <strong>Address:</strong>  102 Grammou Street, 521 00 Kastoria, Greece </p>
                                    <p class="text m-0"> <strong>Phone:</strong> +30 2467 440960 </p>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <!-- End -->
                <div class="col-sm-6 col-md-6  mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center position-relative pb-3">
                                <div class="flex-shrink-0">
                                    <img class="img-md rounded-circle" src="~/media/hospital.jpg" alt="Hospital Picture" loading="lazy">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h class="card-title"> <strong>General Hospital of Kastoria</strong></h>
                                    <br />
                                    <br />
                                    <p class="text m-0"> <strong>Address:</strong> Mauriotissis 33, Kastoria 521 00, Greece </p>
                                    <p class="text m-0"> <strong>Phone:</strong> +30 2467 350600 </p>
                                    <p class="text m-0"> <strong>Website:</strong> kastoriahospital.gr </p>
                                </div> 
                             </div>
                        </div>
                    </div>
                </div>
                
                <!-- End -->
                <div class="col-sm-6 col-md-6  mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center position-relative pb-3">
                                <div class="flex-shrink-0">
                                    <img class="img-md rounded-circle" src="~/media/police.jpg" alt="Police Car Siren Picture" loading="lazy">
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <h class="card-title"> <strong>General Hospital of Kastoria</strong></h>
                                    <br />
                                    <br />
                                    <p class="text m-0">
                                        <strong>Address:</strong> Grammou Street, 521 00 Kastoria,
                                        Greece
                                    </p>
                                    <p class="text m-0"> <strong>Phone:</strong> +30 2467 440205 </p>
                                    <br />
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
	</section>



        <!--EMERGENCY WEBSITES AREA-->
	<!--FIRST ROW SECTION-->
	<section class="services" id="services">
		<div class="container">
			<div class="title">
				<h class="text-center">First Aid</h>
				<h1 class="text-center">What to do ?</h1>
			</div>
		</div>
	</section>

	<!--CONTENT SECTION-->
    <section id="gallery">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="~/media/nhs.png" alt="NHS logo Picture" class="card-img-top">
                        <div class="card-body">
                            <h class="card-title"> <strong>NHS- National Health Service</strong></h>
                            <p class="card-text">The National Health Service, a publicly funded healthcare system in England and one of the four such systems in the United Kingdom, serves as a vital resource for healthcare. 
                                <br> Use the link below, in order to access information and guidelines on administering initial medical assistance, commonly known as first aid in English.</p>
                            <a href="https://www.nhs.uk/conditions/first-aid/" class="btn btn-outline-success btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
           
            <!-- End -->
                <div class="col-lg-4 mb-4">
                    <div class="card">
                        <img src="~/media/ekav.jpg" alt="EKAΒ Logo Picture" class="card-img-top">
                        <div class="card-body">
                            <h class="card-title"> <strong>EKAB - NATIONAL EMERGENCY CENTER</strong></h>  
                            <p class="card-text">
                                The EKAB, a Greek Public Law entity, rapidly deploys specialized personnel and instructions through phone and online manuals to emergency sites. 
                                Its primary goal is to provide immediate assistance and facilitate prompt transportation to healthcare facilities. <br />
                                Use the link below, in order to access information and guidelines on administering initial medical assistance, commonly known as first aid in Greek.
                            </p>
                            <a href="https://www.ekab.gr/files/entypa/EKAB-protes-voithies.pdf" class="btn btn-outline-success btn-sm">Read More</a>  
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <br />
    <br />
</body>