@page
@model EleFiCNetMVC.Views.Home.LabsModel
@{
}

<body>

	<!--HERO AREA-->
	<section id="lab-banner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h>The Local <br />Microbiological Labs of Kastoria</h>
						<p>
							Here you can find information about all the <br> Microbiological Labs of the area </p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!--SERVICE SECTION-->
	<section class="services" id="services">
		<div class="container">
			<div class="title">
				<h class="text-center">Labs</h>
				<h1 class="text-center">Find your Lab</h1>
				@*Searchbar to be added*@
			</div>
		</div>
	</section>


	<!--CONTENT AREA-->
	<section id="lab-cards">
		<div class="container py-2">
			<div class="pageHeaderDate"> Date: @Html.Label("DateCreated", DateTime.Today.ToShortDateString().ToString(), new { @readonly = "readonly" })</div>
			<article class="postcard light yellow">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
				</a>
				<div class="postcard__text t-dark">
					<h1 class="postcard__title yellow">Panta Thiresia D.</h1>
					<div class="postcard__subtitle small">
						<time datetime="2020-05-25 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
					<ul class="postcard__tagbox">
						<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
						<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
						<li class="tag__item play yellow">
							<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
						</li>
					</ul>
				</div>
			</article>
			<article class="postcard light yellow">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
				</a>
				<div class="postcard__text t-dark">
					<h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
					<div class="postcard__subtitle small">
						<time datetime="2020-05-25 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
					<ul class="postcard__tagbox">
						<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
						<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
						<li class="tag__item play yellow">
							<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
						</li>
					</ul>
				</div>
			</article>
			<article class="postcard light yellow">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
				</a>
				<div class="postcard__text t-dark">
					<h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
					<div class="postcard__subtitle small">
						<time datetime="2020-05-25 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
					<ul class="postcard__tagbox">
						<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
						<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
						<li class="tag__item play yellow">
							<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
						</li>
					</ul>
				</div>
			</article>
			<article class="postcard light yellow">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
				</a>
				<div class="postcard__text t-dark">
					<h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
					<div class="postcard__subtitle small">
						<time datetime="2020-05-25 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
					<ul class="postcard__tagbox">
						<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
						<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
						<li class="tag__item play yellow">
							<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
						</li>
					</ul>
				</div>
			</article>
			<article class="postcard light yellow">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
				</a>
				<div class="postcard__text t-dark">
					<h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
					<div class="postcard__subtitle small">
						<time datetime="2020-05-25 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
					<ul class="postcard__tagbox">
						<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
						<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
						<li class="tag__item play yellow">
							<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
						</li>
					</ul>
				</div>
			</article>
			<article class="postcard light yellow">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />
				</a>
				<div class="postcard__text t-dark">
					<h1 class="postcard__title yellow"><a href="#">Podcast Title</a></h1>
					<div class="postcard__subtitle small">
						<time datetime="2020-05-25 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia, doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum dolores nobis enim quidem excepturi, illum quos!</div>
					<ul class="postcard__tagbox">
						<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
						<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
						<li class="tag__item play yellow">
							<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
						</li>
					</ul>
				</div>
			</article>
			
		</div>
	</section>

</body>
